.header-color {
  background: -webkit-linear-gradient(
    90deg,
    #e55d87 10%,
    #5fc3e4 90%
  ); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(
    90deg,
    #e55d87 10%,
    #5fc3e4 90%
  ); /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #e55d87 10%, #5fc3e4 90%); /* IE10 */
  background: -o-linear-gradient(
    90deg,
    #e55d87 10%,
    #5fc3e4 90%
  ); /* Opera 11.10+ */
  background: linear-gradient(90deg, #e55d87 10%, #5fc3e4 90%); /* W3C */
}

.landing-grid {
  background: -webkit-linear-gradient(
    90deg,
    #e55d87 10%,
    #5fc3e4 90%
  ); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(
    90deg,
    #e55d87 10%,
    #5fc3e4 90%
  ); /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #e55d87 10%, #5fc3e4 90%); /* IE10 */
  background: -o-linear-gradient(
    90deg,
    #e55d87 10%,
    #5fc3e4 90%
  ); /* Opera 11.10+ */
  background: linear-gradient(90deg, #e55d87 10%, #5fc3e4 90%); /* W3C */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

.avatar-container {
  align-content: center;
}

.avatar-img {
  height: 200px;
  padding-top: 5em;
  align-items: center;
}

.banner {
  opacity: 0.8;
  width: 75%;
  margin: auto;
  align-content: center;
}

.info-text {
  color: whitesmoke;
  font-size: 100px;
  text-align: center;
}

.social i {
  color: black;
  font-size: 5em;
  /* padding: 30px; */
}

.project-grid {
  display: flex;
  padding: 2em;
}

.container {
  background-color: rgb(97, 66, 66);
  padding: 20em;
}
